@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-zinc-900 text-white font-poppins antialiased;
}

html.disable-scroll {
  @apply overflow-hidden;
}

input {
  @apply focus-visible:outline-none focus-visible:ring;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}
